Repository jun-eg/DenDenMushi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config frontend/eslint.config.mjs --fix, eslint --config backend/eslint.config.mjs --fix, prettier --write

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx,mjs}": [
    "eslint --config frontend/eslint.config.mjs --fix"
  ],
  "backend/**/*.{js,jsx,ts,tsx,mjs}": [
    "eslint --config backend/eslint.config.mjs --fix"
  ],
  "**/*.{ts,tsx,js,jsx,cjs,mjs,md,json,lintstagedrc,yml,yaml}": [
    "prettier --write"
  ]
}

lint
  docker/back/Dockerfile
  docker/front/Dockerfile
Due: none

lint
  frontend/src/app/components/test.tsx
Due: eslint --config frontend/eslint.config.mjs --fix, prettier --write

husky
  .husky/pre-commit
  package.json
Due: prettier --write

linttest
  frontend/src/app/components/test.tsx
Due: eslint --config frontend/eslint.config.mjs --fix, prettier --write

mfix:husky,lint,prettier周り整備完了
  .vscode/settings.json
  backend/.prettierrc
  frontend/prettier.config.mjs
  frontend/src/app/components/test.tsx
  frontend/tsconfig.json
Due: eslint --config frontend/eslint.config.mjs --fix, prettier --write

fix:lintをsrc下に限定
  frontend/eslint.config.mjs
Due: eslint --config frontend/eslint.config.mjs --fix, prettier --write

remove:husky周りのテスト終了
  frontend/src/app/components/test.tsx
Due: eslint --config frontend/eslint.config.mjs --fix, prettier --write

first
  README.md
Due: prettier --write

fix:volumにnodemodules追加
  docker-compose.yml
Due: prettier --write

fix:huskyのエラーで勝手に書き換えられないように
  .husky/pre-commit
Due: none

add:記述もれ
  backend/package.json
  package.json
Due: prettier --write

root下でpretiierコマンドが走らないため一時的に
  .lintstagedrc
Due: prettier --write

update:readme
  README.md
Due: prettier --write

add:selfでApproveできないため
  .github/workflows/pr-auto-approve.yaml
Due: prettier --write

fix
  .github/workflows/pr-auto-approve.yaml
Due: prettier --write

fix
  .github/workflows/auto-approve.yml
Due: prettier --write

あきらめ
  .github/workflows/auto-approve.yml
Due: prettier --write

add:websocket関連追加
  README.md
  backend/package.json
  yarn.lock
Due: prettier --write

fix:nodemodules上書き問題解消
  docker-compose.yml
Due: prettier --write

fix:lint
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/item/dto/create-item.ts
  backend/src/item/item-status.enum.ts
  backend/src/item/item.controller.ts
  backend/src/item/item.model.ts
  backend/src/item/item.module.ts
  backend/src/item/item.service.ts
  backend/src/main.ts
  backend/src/signaling/signaling.gateway.spec.ts
  backend/src/signaling/signaling.gateway.ts
  backend/test/app.e2e-spec.ts
Due: eslint --config backend/eslint.config.mjs --fix, prettier --write

add:uuidd
  backend/package.json
  yarn.lock
Due: prettier --write

fix: tsconfigにeslint.config.mjsを追加
  backend/tsconfig.json
Due: prettier --write

fix;lintconfig
  backend/eslint.config.mjs
Due: eslint --config backend/eslint.config.mjs --fix, prettier --write

change:setting
  .vscode/settings.json
Due: prettier --write

add:siga.gate.tsの型定義ファイル追加
  backend/src/types/signaling.gateway.d.ts
Due: eslint --config backend/eslint.config.mjs --fix, prettier --write

change:シグナリングサーバ処理
  backend/src/signaling/signaling.gateway.ts
Due: eslint --config backend/eslint.config.mjs --fix, prettier --write

change:signalingmoduleを分割
  backend/src/app.module.ts
  backend/src/signaling/signaling.module.ts
Due: eslint --config backend/eslint.config.mjs --fix, prettier --write

fix:ミス
  backend/src/app.module.ts
Due: eslint --config backend/eslint.config.mjs --fix, prettier --write

remove:コメント消去
  backend/src/signaling/signaling.gateway.ts
Due: eslint --config backend/eslint.config.mjs --fix, prettier --write

ちょい変更
  README.md
  backend/package.json
  yarn.lock
Due: prettier --write

add:rasp
  raspberry-pi/test.ts
Due: prettier --write

pushtest
  raspberry-pi/README.md
  raspberry-pi/test.ts
Due: prettier --write
